$button-green: #69ddd3;
$text-red: #c05b7c;
$bg: #fff3df;
$extra-grey: #c2c2c2;
$white: #fff;
$jet: #0e131f;
$teal: #69ddd3;
$ash-blue: #2274a5;
$purp: #6153cc;
$oxblood: #c05b7c;
$l-grey: #c2c2c2;
$cream: #ffefd5;
$maroon: #cd396a;
$d-green: #3a7d44;
$twitter: #1da1f2;
$github: #2a2a2a;
$google: #d93025;
