/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f5f5f5;
  color: #315df9;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
@media (max-width: 630px) {
  .container {
    font-size: 0.5em;
  }
}

.navbar {
  font-size: 25px;
  z-index: 1;
  color: #c2c2c2;
  max-width: 1282px;
  height: 108px;
  position: fixed;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 10px rgba(49, 93, 249, 0.29);
  border-radius: 0px 0px 20px 20px;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation-name: breathe;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 2000ms;
}
.navbar ul {
  display: flex;
  list-style: none;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
.navbar ul li {
  margin: 0 68px;
  padding: 20px 0;
}
.navbar ul li:nth-of-type(1) {
  margin-left: 200px;
}
.navbar ul li:last-of-type {
  margin-right: 200px;
}
.navbar ul li a {
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.navbar ul li a span {
  position: relative;
}
.navbar ul li a span::after {
  background-color: #315df9;
  bottom: -6px;
  content: "";
  opacity: 0;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
.navbar ul li a:hover {
  color: #315df9;
}
.navbar ul li a:hover span::after {
  content: "";
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}

.dscroll {
  text-align: center;
  display: block;
  font-weight: 600;
  color: rgba(49, 93, 249, 0.45);
  font-size: 15px;
  width: 100%;
  margin-top: 40vh;
  transition: all 250ms ease-in-out;
}
.dscroll a {
  text-decoration: none;
}
.dscroll a:visited {
  color: rgba(49, 93, 249, 0.45);
}
.dscroll:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
@media screen and (max-width: 630px) {
  .dscroll {
    display: none;
  }
}

.typing-demo1 {
  width: 8.6ch;
  animation: typing 2s steps(50) alternate;
  white-space: nowrap;
  overflow: hidden;
}

.typing-demo2 {
  width: 8.6ch;
  animation: typing 2s steps(50) alternate;
  white-space: nowrap;
  overflow: hidden;
}

.typing-demo3 {
  width: 8.6ch;
  animation: typing 2s steps(30), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.bgText {
  position: absolute;
  z-index: -1;
  font-size: 600px;
  font-weight: 500;
  left: -60px;
  color: rgba(218, 218, 218, 0.3);
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes breathe {
  from {
    box-shadow: 0px 10px 12px rgba(49, 93, 249, 0.5);
  }
}

/*# sourceMappingURL=style.css.map */
