/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #315df9;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  display: inline-flexbox;
}

.sect {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: center center;
  position: relative;
}
.sect .dscroll {
  position: absolute;
  bottom: 0;
  transition: all 250ms ease-in-out;
  color: #315df9;
  text-transform: lowercase;
}
.sect .dscroll:hover {
  transform: translateY(-10px);
}
.sect .dscroll a {
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: #315df9;
  font-weight: 700;
}
.sect .dscroll a:visited {
  color: inherit;
}
.sect .dscroll a:hover {
  text-decoration: none;
}

.navbar {
  font-size: 25px;
  font-family: "Noto Sans JP", serif;
  z-index: 1;
  color: #c2c2c2;
  height: 108px;
  position: fixed;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 10px rgba(49, 93, 249, 0.29);
  border-radius: 0px 0px 20px 20px;
  top: 0;
  left: 300px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation-name: breathe;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 2000ms;
}
.navbar ul {
  display: flex;
  list-style: none;
  align-content: center;
  width: 100%;
}
.navbar ul li {
  margin: 0 68px;
  padding: 20px 0;
}
.navbar ul li:nth-of-type(1) {
  margin-left: 200px;
}
.navbar ul li:last-of-type {
  margin-right: 200px;
}
.navbar ul li a {
  padding: 10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: #c2c2c2;
  cursor: pointer;
  text-transform: uppercase;
}
.navbar ul li a span {
  position: relative;
}
.navbar ul li a span::after {
  background-color: #315df9;
  bottom: -6px;
  content: "";
  opacity: 0;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
.navbar ul li a:link {
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #315df9 !important;
}
.navbar ul li a:hover span::after {
  content: "";
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}
.navbar ul li a:active {
  color: #315df9;
}

#name {
  font-family: "Noto Sans JP", serif;
  justify-content: center;
}
#name p {
  font-size: 144px;
  text-align: center;
}

#about {
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
}
#about section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#about section p {
  margin: 60px 0;
  padding: 1rem;
  max-width: 670px;
  line-height: 54px;
  font-size: 45px;
  text-align: left;
}
#about .available {
  font-size: 34px;
  color: #fff;
  max-width: 417px;
  line-height: 46px;
  text-shadow: 0px 4px 10px rgba(49, 93, 249, 0.93);
  text-align: center;
}

#experience {
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  align-content: center;
  display: flex;
}
#experience span {
  color: #c2c2c2;
}
#experience .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 616px;
  height: 616px;
}
#experience .column h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
#experience .column div:last-of-type {
  margin-bottom: 0;
}
#experience .column div span {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
#experience .column div h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  max-width: 571px;
}

#skills {
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  align-content: center;
  display: flex;
}
#skills span {
  color: #c2c2c2;
}
#skills .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 616px;
  height: 616px;
}
#skills .column h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
#skills .column div:last-of-type {
  margin-bottom: 0;
}
#skills .column div span {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
#skills .column div h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  max-width: 571px;
}
#skills .allskills {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 616px;
}

#contact {
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  align-content: center;
  display: flex;
}
#contact .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 616px;
  height: 616px;
}
#contact .column h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
#contact .column div:last-of-type {
  margin-bottom: 0;
}
#contact .column div span {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
#contact .column div h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  max-width: 571px;
}
#contact #github {
  color: #c2c2c2;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: #c2c2c2;
}
#contact #github span {
  position: relative;
}
#contact #github span::after {
  background-color: #2a2a2a;
  bottom: -6px;
  content: "";
  opacity: 0;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
#contact #github:link {
  text-decoration: none;
}
#contact #github:hover {
  color: #2a2a2a !important;
}
#contact #github:hover span::after {
  content: "";
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}
#contact #github:active {
  color: #2a2a2a;
}
#contact #medium {
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: #c2c2c2;
}
#contact #medium span {
  position: relative;
}
#contact #medium span::after {
  background-color: #57ad68;
  bottom: -6px;
  content: "";
  opacity: 0;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
#contact #medium:link {
  text-decoration: none;
}
#contact #medium:hover {
  color: #57ad68 !important;
}
#contact #medium:hover span::after {
  content: "";
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}
#contact #medium:active {
  color: #57ad68;
}
#contact #linkedin {
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: #c2c2c2;
}
#contact #linkedin span {
  position: relative;
}
#contact #linkedin span::after {
  background-color: #0a66c2;
  bottom: -6px;
  content: "";
  opacity: 0;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
#contact #linkedin:link {
  text-decoration: none;
}
#contact #linkedin:hover {
  color: #0a66c2 !important;
}
#contact #linkedin:hover span::after {
  content: "";
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}
#contact #linkedin:active {
  color: #0a66c2;
}
#contact #twitter {
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: #c2c2c2;
}
#contact #twitter span {
  position: relative;
}
#contact #twitter span::after {
  background-color: #1da1f2;
  bottom: -6px;
  content: "";
  opacity: 0;
  height: 4px;
  position: absolute;
  left: 0px;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
#contact #twitter:link {
  text-decoration: none;
}
#contact #twitter:hover {
  color: #1da1f2 !important;
}
#contact #twitter:hover span::after {
  content: "";
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}
#contact #twitter:active {
  color: #1da1f2;
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
}

[data-aos=fade-right] {
  transform: translate3d(-100px, 0, 0);
}
[data-aos=fade-right].aos-animate {
  transform: translate3d(0, 0, 0);
}

.typing-demo1 {
  width: 8.6ch;
  animation: typing 2s steps(50) alternate;
  white-space: nowrap;
  overflow: hidden;
}

.typing-demo2 {
  width: 8.6ch;
  animation: typing 2s steps(50) alternate;
  white-space: nowrap;
  overflow: hidden;
}

.typing-demo3 {
  width: 8.6ch;
  animation: typing 2s steps(30), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.bgText {
  position: absolute;
  z-index: -1;
  font-size: 600px;
  font-weight: 500;
  left: -60px;
  color: rgba(218, 218, 218, 0.3);
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes breathe {
  from {
    box-shadow: 0px 10px 12px rgba(49, 93, 249, 0.5);
  }
}

/*# sourceMappingURL=style.css.map */
