/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fff3df;
  color: #c05b7c;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
@media (max-width: 630px) {
  .container {
    font-size: 0.5em;
  }
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
section .hero {
  width: calc(100vw / 800px);
  height: calc(100vw / 640px);
  max-width: 800px;
  max-height: 640px;
  min-height: 490px;
  min-width: 362px;
}
@media (max-width: 630px) {
  section .hero {
    width: 490px;
    height: 362px;
  }
}

p {
  font-weight: 600;
}
@media (max-width: 630px) {
  p {
    font-weight: 400;
  }
}

.biggest {
  font-size: calc(80px + (144 - 80) * ((100vw - 450px) / (1600 - 450)));
  display: block;
}
@media screen and (max-width: 630px) {
  .biggest {
    font-size: 80px;
  }
}

.sect {
  padding: 13.3em 3.81em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 630px) {
  .sect {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.sect div {
  margin-top: 3em;
}
@media screen and (max-width: 630px) {
  .sect div {
    margin-top: 1.5em;
  }
}

.name {
  font-size: calc(42px + (84 - 42) * ((100vw - 450px) / (1600 - 450)));
  display: block;
}

.big-btn {
  font-family: Roboto, sans-serif;
  border-radius: 14px;
  padding: calc(6.4px + (12.8 - 6.4) * ((100vw - 450px) / (1600 - 450))) calc(16px + (32 - 16) * ((100vw - 450px) / (1600 - 450)));
  display: block;
  width: auto;
  text-align: center;
  background-color: #69ddd3;
  font-size: calc(25px + (50 - 25) * ((100vw - 450px) / (1600 - 450)));
  color: #fff3df;
  margin-top: 1.5em;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.big-btn:hover {
  background-color: #29b7aa;
}

.aspire {
  font-size: calc(42px + (84 - 42) * ((100vw - 450px) / (1600 - 450)));
}

.aspire2 {
  font-size: calc(42px + (84 - 42) * ((100vw - 450px) / (1600 - 450)));
}

.career, .intern {
  font-size: 1.1em;
  display: block;
}

.intern {
  text-decoration: none;
  color: #1da1f2;
}
.intern img {
  margin-bottom: 20px;
  display: inline-block;
  height: 0.25em;
  width: 0.25em;
  position: relative;
  top: 0;
  left: 0;
}
.intern:hover {
  text-decoration: underline;
}

.dscroll, .uscroll {
  text-align: center;
  display: block;
  transform: translateY(-125px);
}
.dscroll img, .uscroll img {
  width: 60;
  height: 34;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dscroll img:hover, .uscroll img:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
@media screen and (max-width: 630px) {
  .dscroll, .uscroll {
    display: none;
  }
}

.uscroll {
  align-self: center;
  vertical-align: bottom;
  transform: rotateX(180deg);
}
.uscroll img:hover {
  transform: translateY(10px);
}
@media screen and (max-width: 630px) {
  .uscroll {
    display: block;
  }
}

#myInterest p {
  font-size: 5em;
  line-height: 1.2;
}

#colors {
  display: block;
  color: #69ddd3;
}

#animation {
  display: block;
  animation-name: breathe;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  direction: alternate;
}

@keyframes breathe {
  0% {
    color: #c05b7c;
  }
  15% {
    color: #cd396a;
  }
  45% {
    color: #6153cc;
  }
  85% {
    color: #2274a5;
  }
  100% {
    color: #cd396a;
  }
}
#solving {
  display: block;
  color: #0e131f;
}

#contactMe {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.final {
  display: flex;
  direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.final p {
  width: 100%;
  text-align: center;
  font-size: calc(25px + (50 - 25) * ((100vw - 450px) / (1600 - 450)));
  padding: 0 2em;
}

.personalLinks {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.personalLinks a {
  margin: 0 3em;
  padding: 1em;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.twitter {
  background-color: #1da1f2;
}

.github {
  background-color: #2a2a2a;
}

.mail {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
