@use 'reset';
@use 'colors';
@use 'helpers';

$header-font: Playfair, serif;
$body-font: 'Noto Sans JP', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  background-color: colors.$bg;
  color: colors.$text-color;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;

  @media (max-width: 630px) {
    font-size: 0.5em;
    // scroll-behavior: auto;
    // scroll-snap-type: none;
  }
}

.navbar {
  font-size: 25px;
  z-index: 1;
  color: colors.$extra-grey;
  max-width: 1282px;
  height: 108px;
  position: fixed;
  background-color: colors.$bg;
  box-shadow: 0px 4px 10px rgba(49, 93, 249, 0.29);
  border-radius: 0px 0px 20px 20px;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation-name: breathe;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 2000ms;

  ul {
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: space-between;
    width: 100%;

    li {
      &:nth-of-type(1) {
        margin-left: 200px;
      }

      &:last-of-type {
        margin-right: 200px;
      }
      margin: 0 68px;
      padding: 20px 0;

      a {
        padding: 10px;
        @include helpers.link-hover(colors.$text-color);
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}

.dscroll {
  text-align: center;
  display: block;
  font-weight: 600;
  color: colors.$extra-blue;
  font-size: 15px;
  // align-self: baseline;
  width: 100%;
  margin-top: 40vh;
  transition: all 250ms ease-in-out;

  a {
    text-decoration: none;

    &:visited {
      color: colors.$extra-blue;
    }
  }

  &:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }

  @media screen and (max-width: 630px) {
    display: none;
  }
}

.typing-demo1 {
  width: 8.6ch;
  animation: typing 2s steps(50) alternate;
  white-space: nowrap;
  overflow: hidden;
  // border-right: 3px solid;
}
.typing-demo2 {
  width: 8.6ch;
  animation: typing 2s steps(50) alternate;
  // animation-fill-mode: 2s;
  white-space: nowrap;
  overflow: hidden;
  // border-right: 3px solid;
}
.typing-demo3 {
  width: 8.6ch;
  animation: typing 2s steps(30), blink 0.5s step-end infinite alternate;
  // animation-delay: 2s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.bgText {
  position: absolute;
  z-index: -1;
  font-size: 600px;
  font-weight: 500;
  left: -60px;
  // top: 6em;
  color: rgba(218, 218, 218, 0.3);
}

@keyframes typing {
  from {
    width: 0;
    // opacity: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes breathe {
  from {
    box-shadow: 0px 10px 12px rgba(49, 93, 249, 0.5);
  }
}
